<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMcMZPd00C-8h5p49X1s0HYtAcj3JxAVY</string>
	<key>GCM_SENDER_ID</key>
	<string>300494969934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokepedia</string>
	<key>PROJECT_ID</key>
	<string>pokepedia-dcd8f</string>
	<key>STORAGE_BUCKET</key>
	<string>pokepedia-dcd8f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300494969934:ios:93aae93f12cbd61d92f71f</string>
</dict>
</plist>